{% extends "base.html.twig" %}

{% block title %}
   Contact
{% endblock %}

{% block content %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- MAPBOX Stylesheet -->
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
        <style>.custom-file-label{display:none;}</style>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <!-- Mapbox-->
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiY2hhYmluZXZpYnoiLCJhIjoiY2szenk4enAxMjAxaDNscWx5MjFtYTE4ZyJ9.2mxGbAQIffpHKpGUphvYVA';
            var map = new mapboxgl.Map({
                container: 'googleMap',
                zoom: 1.5,
                style: 'mapbox://styles/mapbox/streets-v11'
            });
            /***
             * change style map
             * ****/
            var layerList = document.getElementById('menuMap');
            var inputs = layerList.getElementsByTagName('input');

            function switchLayer(layer) {
                var layerId = layer.target.id;
                map.setStyle('mapbox://styles/mapbox/' + layerId);
            }

            for (var i = 0; i < inputs.length; i++) {
                inputs[i].onclick = switchLayer;
            }

            </script>
    {% endblock %}


<!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/bg-img/hero-1.jpg') }})">
    </div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Contact Area Start ***** -->
    <div class="dorne-contact-area d-md-flex" id="contact">
        <!-- Contact Form Area -->
        <div class="contact-form-area equal-height">
            <div class="contact-text">
                <h4>Nous vous écoutons !</h4>
                <p>Un avis ? Une suggestion, qui pourrait nous permettre de développer notre concept pour des expériences plus extraordinaires ? Ou tout simplement nous féliciter ;-D ? N'hésitez pas à nous laisser un message ! </p>
                <div class="contact-info d-lg-flex">
                    <div class="single-contact-info">
                        <h6><i class="fa fa-map-signs" aria-hidden="true"></i> Boulevard de la mer, Saint-François</h6>
                        <h6><i class="fa fa-map-signs" aria-hidden="true"></i> No. 25-33</h6>
                    </div>
                    <div class="single-contact-info">
                        <h6><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@dmi.com</h6>
                        <h6><i class="fa fa-phone" aria-hidden="true"></i> +590 690 11 22 33</h6>
                    </div>
                </div>
            </div>
            <div class="contact-form">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
                <div class="contact-form-title text-center">
                    <h6>NOUS CONTACTER</h6>
                </div>
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12">
                       {{ form(form) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Map Area -->
        <div class="dorne-map-area equal-height">
            <div id="googleMap"></div>
        </div>
    </div>
    <!-- ***** Contact Area End ***** -->

{% endblock %}
