{% extends "base.html.twig" %}

{% block title %}
    Explore Page
{% endblock %}

{% block content %}



<!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/bg-img/hero-1.jpg') }})">
    </div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- Explore Area -->
    <section class="dorne-explore-area d-md-flex">
        <!-- Explore Search Area -->
        <div class="explore-search-area d-md-flex">
            <!-- Explore Search Form -->
            <div class="explore-search-form">
                <h6>What are you looking for?</h6>
                <!-- Tabs -->
                <div class="nav nav-tabs" id="heroTab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="true">Sites</a>
                    <a class="nav-item nav-link" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">Events</a>
                </div>
                <!-- Tabs Content -->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                        <form action="#" method="get">

                            <select class="custom-select" id="categories">
                                <option selected>Toutes les Catégories</option>
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                            <select class="custom-select" id="proximity">
                                <option selected>Communes</option>
                                <option value="1">Proximity 1</option>
                                <option value="2">Proximity 2</option>
                                <option value="3">Proximity 3</option>
                                <option value="3">Proximity 4</option>
                                <option value="3">Proximity 5</option>
                            </select>
                            <div class="row mt-md-5 mt-0">
                                <div class="col-12 col-xl-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">A PIED</span>
                                    </label>
                                </div>
                                <div class="col-12 col-xl-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">EN VOITURE</span>
                                    </label>
                                </div>

                            </div>
                            <button type="submit" class="btn dorne-btn mt-50 bg-white text-dark"><i class="fa fa-search pr-2" aria-hidden="true"></i> Search</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
                        <form action="#" method="get">
                            <select class="custom-select" id="events-destinations">
                                <option selected>Your Destinations</option>
                                <option value="1">New York</option>
                                <option value="2">Latvia</option>
                                <option value="3">Dhaka</option>
                                <option value="4">Melbourne</option>
                                <option value="5">London</option>
                            </select>
                            <select class="custom-select" id="events-catagories">
                                <option selected>Toutes les Catégories</option>
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>

                            <select class="custom-select" id="events-proximity">
                                <option selected>Communes</option>
                                <option value="1">Proximity 1</option>
                                <option value="2">Proximity 2</option>

                            </select>
                            <button type="submit" class="btn dorne-btn mt-50 bg-white text-dark"><i class="fa fa-search pr-2" aria-hidden="true"></i> Search</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- Explore Search Result -->

            <div class="explore-search-result">
                <!-- Single Features Area -->
                {% for site in sites %}
                <div class="single-features-area">
                    <img class="img-fluid" src="{{ asset('img/sites-img/' ~ site.image) }}" alt="{{ site.name }}">
                    <!-- Category -->
                    <div class="price-start">
                        <p>{{site.category.name}}</p>
                    </div>
                    <div class="feature-content d-flex align-items-center justify-content-between">
                        <div class="feature-title">
                            <h5>{{ site.name }}</h5>

                            <p>{{ site.content|striptags | u.truncate(100, '...')}}</p>
                        </div>
                        <div class="feature-favourite">
                            <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="">
                        <a href="{{ path('default_site', {
                            alias : site.alias,
                            id : site.id,
                            category : site.category.alias}
                        )}}" class="btn btn-block dorne-btn">J'y go</a>
                    </div>
                    {% endfor %}
            </div>

            <!-- END Explore Search Result -->
        </div>
        <!-- Explore Map Area -->
        <div class="explore-map-area">
            <div id="exploreGoogleMap"></div>
        </div>
    </section>



{% endblock %}
