{% extends "base.html.twig" %}

{% block title %}
  {{site.name}}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
    <style>
        .custom-file-label{display:none;}
    </style>
{% endblock %}



{% block content %}

    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area height-700 bg-img bg-overlay" style="background-image: url({{ asset('img/sites-img/' ~ site.image) }})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <div class="map-ratings-review-area d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><img src="{{ asset('img/core-img/map.png') }}" alt="map"></a>
                            <a href="#">8.7</a>
                            <a href="#addreviews"> Ajouter un Commentaire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Single Listing Area Start ***** -->
    <section class="dorne-single-listing-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Listing Content -->
                <div class="col-12 col-lg-8">
                    <div class="single-listing-content">

                        <div class="listing-title">
                            <h4>{{ site.name}}</h4>
                            <h6>{{ site.adress}}</h6>
                        </div>

                        <div class="single-listing-nav">
                            <nav>
                                <ul id="listingNav">
                                    <li class="active"><a href="#overview">Overview</a></li>
                                    <li><a href="#menu">Descriptif</a></li>
                                    <li><a href="#review">Reviews</a></li>
                                    <li><a href="#lomap">Location on map</a></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="overview-content mt-50" id="overview">
                            <p>{{ site.content }}</p>
                            <div class="row mt-5">
                                <div class="col-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Accepts Credit Cards</span>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Wireless Internet</span>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Paiement en ligne</span>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Privat Parking</span>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Smoking Area</span>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Wheelchair Accesible</span>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="listing-menu-area mt-100" id="menu">
                            <p>
                                {{ site.visiteType }}
                            </p>
                            <a href="{{site.siteWeb}}" class="btn dorne-btn mt-50">+ En savoir plus</a>
                        </div>

                        <div class="listing-reviews-area mt-100" id="review">
                            <h4>reviews</h4>
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% if comments is not empty %}
                                {% for comment in comments %}
                                <div class=" row single-review-area col-12">
                                    <div class="col-8">
                                        <div class="reviewer-meta d-flex align-items-center ">

                                            <img src="{{ asset('img/clients-img/avatar/' ~ comment.user.avatar) }}" alt="{{comment.user.pseudo}}">
                                            <div class="reviewer-content">
                                                <div class="review-title-ratings d-flex justify-content-between">
                                                    <h5>“{{comment.title}}”</h5>
                                                    <div class="ratings">
                                                        <img src="{{ asset('img/clients-img/star-fill.png') }}" alt="starRating">
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <p>{{ comment.content }}</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="reviewer-name">
                                            <h6>{{comment.user.pseudo}}</h6>
                                            <p>{{comment.createdDate| date('Y-F-d')}}</p>
                                        </div>
                                    </div> <!-- fin div col-8-->
                                    <div class="col-4 ">
                                        {% if comment.image  is defined %}
                                            <img class="rounded-circle" width="320" height="250" src="{{ asset('img/com-img/' ~ comment.image) }}" alt="comment.image">
                                        {% endif %}
                                    </div>

                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="col alert alert-warning text-center">
                                    Pas de commentaire pour le moment
                                </div>
                            {% endif %}
                        </div> <!-- Review End -->



                        <div class="location-on-map mt-50" id="lomap">
                            <h4>Location on map</h4>
                            <div class="location-map">
                                <div id="locationMap"></div>
                            </div>
                        </div>

                    </div>
                </div><!-- Location MAP End -->

                <!-- Listing Sidebar -->
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="listing-sidebar">

                        <!-- Contact  -->
                        <div class="contact-form contact-form-widget mt-50">
                            <h6>Contact</h6>

                                <div class="row">
                                    <div class="col-12">
                                        {{site.name}}
                                    </div>
                                    <div class="col-12">
                                        {{site.adress}}
                                    </div>
                                    <div class="col-12">
                                       {{site.tel}}
                                    </div>
                                    <div class="col-12">
                                        {{site.siteWeb}}
                                    </div>
                                </div>
                        </div> <!-- END Contact  -->

                        <!-- Opening Hours Widget -->
                        <div class="opening-hours-widget mt-50">
                            <h6>Horaires d'ouvertures</h6>
                            <div class="opening-hours">
                                {{ site.openHour | striptags}}
                            </div>
                        </div>

                    </div>
                    <div class="row mt-50" id="addreviews">
                        <div class="col-12 mx-auto ">
                            <h3 class="text-center mt-4">
                                Ajouter un Commentaire
                            </h3>
                            <div class=" mt-4 ">

                                {{ form(form) }}
                            </div>
                        </div>
                    </div>
                </div>   <!-- END listing sidebar  Form -->
            </div>
        </div>
    </section>
    <!-- ***** Single Listing Area End ***** -->

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <!-- Google Maps js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBppR3tyGzWbuXGbySTMp_XqCoOzdohqms"></script>
    <script src="{{ asset('js/google-map/location-map-active.js') }}"></script>
    <!-- Dropify -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script>
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
{% endblock %}