{% extends "base.html.twig" %}

{% block title %}
    {{site.name}}
{% endblock %}

{% block content %}

        <section class=" bg-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center mt-5">
                            <h4>{{ site.name}}</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="text-center ">

                        <img class="img-fluid" src="{{ asset('img/sites-img/' ~ site.image) }}" alt="{{ site.name }}">
                        </div>
                        <div class="">
                            {{ site.content }}
                        </div>






                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Site Area End ***** -->

    {% endblock %}
