<header class="header_area" id="header">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg">
                    <a class="navbar-brand" href="{{ path('/') }}"><img src="{{ asset('img/core-img/logo.png') }} " alt="logo.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                    <!-- Nav -->
                    <div class="collapse navbar-collapse" id="dorneNav">
                        <ul class="navbar-nav mx-auto" id="dorneMenu">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('/') }}">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link " href="{{ path('default_explore') }}"  role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
                                <!--<<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        a class="dropdown-item" href=""></a>
                                </div>-->
                            </li>
                            <!--<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rallye <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item" href="listing.html">How it Works</a>
                                    <a class="dropdown-item" href="index.html">A Venir</a>
                                    <a class="dropdown-item" href="explore.html">S'inscrire</a>
                                    <a class="dropdown-item" href="listing.html">How it Works</a>
                                </div>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('default_concept') }}">Concept</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('default_contact') }}">Contact</a>
                            </li>
                        </ul>

                        <!-- LogIn LogOut Register-->
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_logout') }}" class=" btn dorne-btn ">DECONNEXION</a>
                        {% else %}
                        <!-- Signin btn -->
                            <div class="dorne-signin-btn ml-auto">
                                <a href="{{ path('app_login') }}" class="btn  btn-dark text-white">Connexion</a>
                            </div>
                        <!-- Register btn -->
                        <div class="dorne-signin-btn">
                            <a href="{{ path('user_register') }}" class="btn dorne-btn">Enregistrement</a>
                        </div>
                        {% endif %}


                        <!-- Add listings btn
                        <div class="dorne-add-listings-btn">
                            <a href="#" class="btn dorne-btn">+ Add Listings</a>
                        </div>-->
                    </div>
                </nav>

            </div>
        </div>
    </div>
</header>