{% extends "base.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css"
          integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
    <style>
        .custom-file-label{display:none;}
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Dropify -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" ></script>
    <script>
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
{% endblock %}


{% block content %}
    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/bg-img/hero-1.jpg') }})">
    </div>
    <!-- ***** Breadcumb Area End ***** -->
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">Inscription</h1>
    </div>

    <div class="container mx-auto ">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row ">
            <div class="col-md-6 offset-md-3 mx-auto" >
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
